<div id="savedialog" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2 data-title>Save the regex</h2>
        <div data-content class="uk-form uk-form-stacked">
            <label class="uk-form-label">Regex name:</label>
            <input type="text" name="name" placeholder="The name of your regex" class="uk-form-controls uk-width-1-1" />
        </div>
        <div class="uk-clearfix uk-margin-top">
            <button class="uk-button uk-button-danger uk-float-right uk-modal-close">
                <i class="uk-icon-times"></i> Close
            </button>
            <button class="uk-button uk-button-primary uk-float-right uk-margin-right" id="save">
                <i class="uk-icon-refresh uk-icon-spin uk-hidden"></i><i class="uk-icon-floppy-o"></i> Save
            </button>
        </div>
    </div>
</div>
