{% extends '../base.html' %}

{% block title %}Delete user{% end %}

{% block breadcrumb %}
<li><a href="/admin/users/">Users</a></li>
<li class="uk-active">Delete</li>
{% end %}

{% block page_title %}Delete user{% end %}


{% block content %}
<div class="uk-alert">
    Are you sure you want to delete the user: <strong>{{ username }}</strong> ?
</div>
<div class="uk-clearfix">
    <form action="/admin/users/delete/{{ username }}/" method="post">
        <input type="hidden" name="username" value="{{ username }}" />
        <div class="uk-align-right">
            <input type="submit" value="Yes" class="uk-button uk-button-primary" />
            <a href="/admin/users/" class="uk-button uk-button-danger">No</a>
        </div>
    </form>
</div>
{% end %}