{% extends 'root.tpl.html' %}

{% block title %}Register{% end %}

{% block content %}
<div class="uk-alert">
    <h2 class="uk-text-large">Create an account</h2>
</div>
<div id="register">
    {% if errors %}
        <div class="uk-alert uk-alert-danger">
            <h4 class="uk-text-large">There's several errors</h4>
        </div>
    {% end %}
    <form action="/auth/register/" method="post" id="registerForm" class="uk-form" name="registerForm">
        <div class="uk-form-row">
            <label>Your user name: </label>
            <input type="text" name="username" class="uk-form-large {% if 'username' in fields %} uk-form-danger{% end %}" placeholder="Type your user name here" value="{{ username }}">
            {% if 'username' in fields %}
                <div class="uk-text-danger">{{ messages['username'] }}</div>
            {% end %}
        </div>
        <div class="uk-form-row">
            <label>Your email address: </label>
            <input type="email" name="email" class="uk-form-large {% if 'email' in fields %} uk-form-danger{% end %}" placeholder="Type your email address here" value="{{ email }}">
            {% if 'email' in fields %}
                <div class="uk-text-danger">{{ messages['email'] }}</div>
            {% end %}
        </div>
        <div class="uk-form-row">
            <label>Your password:</label>
            <input type="password" name="password"  class="uk-form-large {% if 'password' in fields %} uk-form-danger{% end %}" placeholder="Type your password here">
            {% if 'password' in fields %}
                <div class="uk-text-danger">{{ messages['password'] }}</div>
            {% end %}
        </div>
        <div class="uk-form-row">
            <label>Your password confirmation:</label>
            <input type="password" name="confirm"  class="uk-form-large {% if 'confirm' in fields %} uk-form-danger{% end %}" placeholder="Type your password confirmation here">
            {% if 'confirm' in fields %}
                <div class="uk-text-danger">{{ messages['confirm'] }}</div>
            {% end %}
        </div>
        <div class="uk-form-row">
            <label>Anti-Robot system:</label>
            {{ question.prepare() }}
            <div>
                <p>Just to prove you are a human, could you answer to this simple question?</p>
                <em>
                   {{ question.string }}
                </em>
            </div>
            <input type="hidden" name="question" value="{{ question.answer }}">
            <input type="text" name="answer" placeholder="Type your answer">
            {% if 'question' in fields %}
                <div class="uk-text-danger">{{ messages['question'] }}</div>
            {% end %}
        </div>
        <div class="uk-form-row">
            <label>&nbsp;</label>
            <button type="submit" class="uk-button uk-button-primary" id="registerButton">Register</button>
        </div>
    </form>
</div>
<div class="vspacer-100"></div>
{% end %}
