<div class="uk-modal" id="contact">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h2>Contact me</h2>
        <hr>
        <div>
            <form action="/contact" method="post" class="uk-form" id="contactform">
                <div class="uk-form-row">
                    <label>Your email</label>
                    <input type="email" name="email" placeholder="Type your mail address here">
                </div>
                <div class="uk-form-row">
                    <label>Your name</label>
                    <input type="text" name="name" placeholder="Type your name here">
                </div>
                <div class="uk-form-row">
                    <label>Question</label>
                    <p>Just to prove you are a human, could you answer to this simple question?</p>
                    {{ question.prepare() }}
                    <p><em>{{ question.string }}</em></p>
                    <input type="hidden" name="answer" value="{{ question.answer }}" id="result">
                    <input type="text" name="question" placeholder="Type your anwser">
                </div>
                <div class="uk-form-row">
                    <label>Your message</label>
                    <textarea name="message" placeholder="Type your message here" rows="10" style="width: 100%;"></textarea>
                </div>
            </form>
        </div>
        <hr>
        <div class="uk-clearfix">
            <button class="uk-button uk-button-primary uk-float-right" data-send>
                <i class="uk-icon-ok"></i> Send
            </button>

            <button class="uk-button uk-button-danger uk-modal-close uk-float-right">
                <i class="uk-icon-remove"></i> Cancel
            </button>
        </div>
    </div>
    <div id="pending"></div>
</div>

<div class="uk-modal" id="send-success">
    <div class="uk-modal-dialog">
        <a class=""uk-modal-close uk-close"></a>
        <h2>Contact message send</h2>
        <hr>
        <div>
            Your message was delivered successfully
        </div>
        <hr>
        <div class="uk-clearfix">
            <button class="uk-button uk-modal-close uk-button-primary uk-float-right">
                <i class="uk-icon-ok"></i> OK
            </button>
        </div>

    </div>
</div>