<nav class="uk-navbar invert">
    <div class="uk-container uk-container-center">
        <a href="/" class="uk-navbar-brand"><i class="uk-icon-home"></i> Python Regex</a>
        <ul class="uk-navbar-nav">
            <li><a href="#options" data-uk-modal><i class="uk-icon-cog"></i> Options</a></li>
            <li><a href="#contact" data-uk-modal><i class="uk-icon-envelope"></i> Contact</a></li>
            <li><a href="#"><i class="uk-icon-question"></i> Help</a></li>
            <li><a href="#about" data-uk-modal><i class="uk-icon-legal"></i> About...</a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="#connect" data-uk-modal><i class="uk-icon-user"></i> Connect to save</a></li>
            </ul>
        </div>
    </div>
</nav>
